<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.smartindia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcomeActivity"></activity>
        <activity android:name=".UserAuthority" />
        <activity android:name=".userauthorityenglish" />
        <activity
            android:name=".userdashboard"
            android:label="@string/title_activity_userdashboard"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>